Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  require_serial: true
  language: system

migrations-check:
  language: system
  name: Check for uncreated migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  pass_filenames: false
  stages:
  - commit
  require_serial: true

mypy-check:
  language: system
  name: Check for mypy
  entry: uv run mypy shargain
  stages:
  - commit
  pass_filenames: false
  require_serial: true

chore(frontend): add zod
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

feat(frontend): enhance CSRF token handling in forms and clean up imports
  frontend/openapi-ts.config.ts
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/components/auth/user-menu.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/hey-api-config.ts
  frontend/src/hooks/useCsrfToken.ts
Due: none

feat(frontend): add Dockerfile and update compose.yml for frontend prod
  deployment/docker/compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(frontend): First step of implementing landing page
  frontend/src/components/landing-page.tsx
  frontend/src/routes/__root.tsx
Due: none

feat(frontend): improve signin/signup navigation
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/components/ui/select.tsx
Due: none

feat(frontend): Implement landing page
  frontend/src/components/landing-page.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
Due: none

feat(frontend): Setup i18n
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Header.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/landing-page.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/i18n/resources.ts
  frontend/src/lib/i18n.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/main.tsx
  frontend/src/routes/dashboard.tsx
  frontend/src/types/i18next.d.ts
Due: none

fix(frontend): Add missing files
  frontend/src/lib/auth.ts
  frontend/src/lib/utils.ts
Due: none

fix(frontend): Commit missing API client
  frontend/src/lib/api/client.gen.ts
  frontend/src/lib/api/client/client.ts
  frontend/src/lib/api/client/index.ts
  frontend/src/lib/api/client/types.ts
  frontend/src/lib/api/client/utils.ts
  frontend/src/lib/api/core/auth.ts
  frontend/src/lib/api/core/bodySerializer.ts
  frontend/src/lib/api/core/params.ts
  frontend/src/lib/api/core/pathSerializer.ts
  frontend/src/lib/api/core/types.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
Due: none

feat(frontend): Remove CSRF token handling from forms and centralize in API config
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/hey-api-config.ts
  frontend/src/hooks/useCsrfToken.ts
  frontend/src/interceptor-setup.ts
  frontend/src/lib/csrf.ts
  frontend/src/main.tsx
  frontend/src/routes/__root.tsx
Due: none

fix(backend): fix tests
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
Due: ruff-format, ruff, mypy-check

feat(frontend): remove unused buttons and tips card from dashboard sidebar
  frontend/src/components/dashboard/dashboard-sidebar.tsx
Due: none

feat(backend): implement Telegram registration token generation and related models
  shargain/telegram/application/commands/generate_telegram_token.py
  shargain/telegram/bot.py
  shargain/telegram/migrations/0001_initial.py
  shargain/telegram/migrations/__init__.py
  shargain/telegram/models.py
  shargain/telegram/tests/__init__.py
  shargain/telegram/tests/application/__init__.py
  shargain/telegram/tests/application/commands/__init__.py
  shargain/telegram/tests/application/commands/test_generate_telegram_token.py
  shargain/telegram/tests/factories.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(backend): Adapt current registration token handler for new registration token
  shargain/telegram/application/setup_scraping_target_handler.py
  shargain/telegram/bot.py
  shargain/telegram/tests/__init__.py
  shargain/telegram/tests/application/__init__.py
  shargain/telegram/tests/application/commands/__init__.py
Due: ruff-format, ruff, mypy-check

feat(backend): add operation IDs to target-related endpoints for better API documentation
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat(frontend): refactor API calls in useMonitors and dashboard components for improved clarity and maintainability
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
Due: none

feat(backend): add models for Telegram integration and registration tokens
  shargain/telegram/models.py
Due: ruff-format, ruff, migrations-check, mypy-check

fix(backend): Fix scraping url test
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
Due: ruff-format, ruff, mypy-check

refactor(backend): refactor Telegram app initialization logic and register it as django app.
  shargain/settings/base.py
  shargain/telegram/__init__.py
  shargain/telegram/apps.py
Due: ruff-format, ruff, mypy-check

feat(backend): add endpoint to send test notifications for ScrapingTargets
  shargain/offers/application/commands/send_test_notification.py
  shargain/offers/tests/application/commands/test_send_test_notification.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat(frontend): auto throw error on non 200 responses
  frontend/openapi-ts.config.ts
Due: none

feat(dependencies): Add pyright for type checking support
  pyproject.toml
  uv.lock
Due: none

feat(backend): Add API for updating scraping target name
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

test(backend): Add tests for Telegram token generation and scraping target handler
  pyproject.toml
  shargain/telegram/migrations/0001_initial.py
  shargain/telegram/models.py
  shargain/telegram/tests/application/commands/test_generate_telegram_token.py
  shargain/telegram/tests/application/test_setup_scraping_target_handler.py
  shargain/telegram/tests/conftest.py
  shargain/telegram/tests/test_models.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(frontend): Add Telegram notification configuration with token generation
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(backend): Enhance SetupScrapingTargetHandler to create and link notification config with scraping targets
  shargain/telegram/application/setup_scraping_target_handler.py
  shargain/telegram/tests/application/test_setup_scraping_target_handler.py
Due: ruff-format, ruff, mypy-check

feat(api): Add endpoint to generate Telegram bot token with error handling
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat(tests): Enhance test fixtures for user and scraping target creation
  shargain/offers/tests/conftest.py
  shargain/telegram/application/setup_scraping_target_handler.py
  shargain/telegram/migrations/0002_telegramregistertoken_name.py
  shargain/telegram/models.py
  shargain/telegram/tests/application/test_setup_scraping_target_handler.py
  shargain/telegram/tests/conftest.py
  shargain/telegram/tests/factories.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(admin): Add admin interface for TelegramRegisterToken and TelegramUser models
  shargain/telegram/admin.py
Due: ruff-format, ruff, mypy-check

feat(frontend): Add functionality to update scraping target name
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(notifications): Implement application layer for operations for notification configurations
  shargain/commons/application/exceptions.py
  shargain/notifications/application/actor.py
  shargain/notifications/application/commands/create_notification_config.py
  shargain/notifications/application/commands/delete_notification_config.py
  shargain/notifications/application/commands/update_notification_config.py
  shargain/notifications/application/dto.py
  shargain/notifications/application/exceptions.py
  shargain/notifications/application/queries/get_notification_config.py
  shargain/notifications/application/queries/list_notification_configs.py
  shargain/notifications/tests/application/commands/test_create_notification_config.py
  shargain/notifications/tests/application/commands/test_delete_notification_config.py
  shargain/notifications/tests/application/commands/test_update_notification_config.py
  shargain/notifications/tests/application/conftest.py
  shargain/notifications/tests/application/queries/test_get_notification_config.py
  shargain/notifications/tests/application/queries/test_list_notification_configs.py
Due: ruff-format, ruff, mypy-check

feat(frontend): add modal for creating new notification configurations on the dashboard page.
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/notifications/config-form-modal.tsx
Due: none

feat(frontend): move target name update functionality to monitor settings
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
Due: none

feat(frontend): hide unnecessary banner when notifications are configured.
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(frontend): Implement notification configuration management with create, edit, and delete functionalities
  frontend/src/components/notifications/config-form-modal.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/routes/notifications.tsx
Due: none

feat(frontend): Refactor notification configuration display and handling logic
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(backend): Add endpoints for notification configurations
  Makefile
  shargain/notifications/application/dto.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

refactor(frontend): Update routing logic
  frontend/src/routes/index.tsx
  frontend/vite.config.ts
Due: none

refactor(tests): Simplify notification config tests by removing redundant comments and verifying results through queries
  shargain/notifications/tests/application/commands/test_create_notification_config.py
  shargain/notifications/tests/application/commands/test_delete_notification_config.py
  shargain/notifications/tests/application/commands/test_update_notification_config.py
  shargain/notifications/tests/application/queries/test_get_notification_config.py
  shargain/notifications/tests/application/queries/test_list_notification_configs.py
Due: ruff-format, ruff, mypy-check

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  migrations-check: any of: (models\.py$|(migrations/.+\.py))
  mypy-check: any of: .+\.py$
