Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  require_serial: true
  language: system

migrations-check:
  language: system
  name: Check for uncreated migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  pass_filenames: false
  stages:
  - commit
  require_serial: true

mypy-check:
  language: system
  name: Check for mypy
  entry: uv run mypy shargain
  stages:
  - commit
  pass_filenames: false
  require_serial: true

feat(backend): implement Telegram registration token generation and related models
  shargain/telegram/application/commands/generate_telegram_token.py
  shargain/telegram/bot.py
  shargain/telegram/migrations/0001_initial.py
  shargain/telegram/migrations/__init__.py
  shargain/telegram/models.py
  shargain/telegram/tests/__init__.py
  shargain/telegram/tests/application/__init__.py
  shargain/telegram/tests/application/commands/__init__.py
  shargain/telegram/tests/application/commands/test_generate_telegram_token.py
  shargain/telegram/tests/factories.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(backend): add models for Telegram integration and registration tokens
  shargain/telegram/models.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(frontend): auto throw error on non 200 responses
  frontend/openapi-ts.config.ts
Due: none

feat(frontend): refactor API calls in useMonitors and dashboard components for improved clarity and maintainability
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
Due: none

feat(backend): add operation IDs to target-related endpoints for better API documentation
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat(backend): Adapt current registration token handler for new registration token
  shargain/telegram/application/setup_scraping_target_handler.py
  shargain/telegram/bot.py
  shargain/telegram/tests/__init__.py
  shargain/telegram/tests/application/__init__.py
  shargain/telegram/tests/application/commands/__init__.py
Due: ruff-format, ruff, mypy-check

feat(backend): Enhance SetupScrapingTargetHandler to create and link notification config with scraping targets
  shargain/telegram/application/setup_scraping_target_handler.py
  shargain/telegram/tests/application/test_setup_scraping_target_handler.py
Due: ruff-format, ruff, mypy-check

feat(backend): Add endpoints for notification configurations
  Makefile
  shargain/notifications/application/dto.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

fix(backend): Fix scraping url test
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
Due: ruff-format, ruff, mypy-check

feat(api): Add endpoint to generate Telegram bot token with error handling
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat(tests): Enhance test fixtures for user and scraping target creation
  shargain/offers/tests/conftest.py
  shargain/telegram/application/setup_scraping_target_handler.py
  shargain/telegram/migrations/0002_telegramregistertoken_name.py
  shargain/telegram/models.py
  shargain/telegram/tests/application/test_setup_scraping_target_handler.py
  shargain/telegram/tests/conftest.py
  shargain/telegram/tests/factories.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(frontend): Add functionality to update scraping target name
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(backend): Add API for updating scraping target name
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat(frontend): Add Telegram notification configuration with token generation
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

refactor(tests): Simplify notification config tests by removing redundant comments and verifying results through queries
  shargain/notifications/tests/application/commands/test_create_notification_config.py
  shargain/notifications/tests/application/commands/test_delete_notification_config.py
  shargain/notifications/tests/application/commands/test_update_notification_config.py
  shargain/notifications/tests/application/queries/test_get_notification_config.py
  shargain/notifications/tests/application/queries/test_list_notification_configs.py
Due: ruff-format, ruff, mypy-check

feat(admin): Add admin interface for TelegramRegisterToken and TelegramUser models
  shargain/telegram/admin.py
Due: ruff-format, ruff, mypy-check

test(backend): Add tests for Telegram token generation and scraping target handler
  pyproject.toml
  shargain/telegram/migrations/0001_initial.py
  shargain/telegram/models.py
  shargain/telegram/tests/application/commands/test_generate_telegram_token.py
  shargain/telegram/tests/application/test_setup_scraping_target_handler.py
  shargain/telegram/tests/conftest.py
  shargain/telegram/tests/test_models.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat(notifications): Implement application layer for operations for notification configurations
  shargain/notifications/application/actor.py
  shargain/notifications/application/commands/create_notification_config.py
  shargain/notifications/application/commands/delete_notification_config.py
  shargain/notifications/application/commands/update_notification_config.py
  shargain/notifications/application/dto.py
  shargain/notifications/application/exceptions.py
  shargain/notifications/application/queries/get_notification_config.py
  shargain/notifications/application/queries/list_notification_configs.py
  shargain/notifications/tests/application/commands/test_create_notification_config.py
  shargain/notifications/tests/application/commands/test_delete_notification_config.py
  shargain/notifications/tests/application/commands/test_update_notification_config.py
  shargain/notifications/tests/application/conftest.py
  shargain/notifications/tests/application/queries/test_get_notification_config.py
  shargain/notifications/tests/application/queries/test_list_notification_configs.py
Due: ruff-format, ruff, mypy-check

feat(dependencies): Add pyright for type checking support
  pyproject.toml
  uv.lock
Due: none

refactor(frontend): Update routing logic
  frontend/src/routes/index.tsx
  frontend/vite.config.ts
Due: none

refactor(frontend): Improve layout and formatting in config form modal
  frontend/src/components/notifications/config-form-modal.tsx
Due: none

feat(frontend): Implement notification configuration management with create, edit, and delete functionalities
  frontend/src/components/notifications/config-form-modal.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/routes/notifications.tsx
Due: none

feat(frontend): Add route for notifications, cleanup header and add breadcrumbs
  frontend/src/components/Header.tsx
  frontend/src/components/app-header.tsx
  frontend/src/components/dashboard/dashboard-header.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/notifications/notifications-header.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/dashboard.tsx
  frontend/src/routes/notifications.tsx
Due: none

feat(frontend): Refactor notification configuration display and handling logic
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(frontend): hide unnecessary banner when notifications are configured.
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

refactor(frontend): Clean up import statements and improve code formatting
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/components/ui/breadcrumb.tsx
Due: none

feat(frontend): Add possibility to chose configured notification channel
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/dashboard/monitor-settings.tsx
Due: none

feat(frontend): add modal for creating new notification configurations on the dashboard page.
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/notifications/config-form-modal.tsx
Due: none

fix(frontend): reorder components in dashboard layout for improved visibility
  frontend/src/routes/dashboard.tsx
Due: none

feat(frontend): move target name update functionality to monitor settings
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
Due: none

feat(frontend): enhance monitor settings with improved notification channel configuration
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
Due: none

feat(frontend): implement auth component
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/user-menu.tsx
  frontend/src/routes/auth.tsx
Due: none

feat(frontend): add login form component from shadcn and integrate it into auth page
  frontend/src/components/auth/login-form.tsx
  frontend/src/routes/auth.tsx
Due: none

fix(frontend): rename parameter in update target name mutation for clarity
  frontend/src/components/dashboard/monitored-websites/index.tsx
Due: none

feat(frontend): implement login form with validation and CSRF token handling
  frontend/src/components/auth/login-form.tsx
Due: none

feat(frontend): conditionally render header in root component
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
Due: none

feat(frontend): add AuthGuard to protect routes
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
Due: none

feat(api): implement authentication endpoints
  pyproject.toml
  shargain/public_api/api.py
  shargain/public_api/auth.py
  shargain/settings/base.py
  shargain/settings/local.py
  uv.lock
Due: ruff-format, ruff, mypy-check

feat(frontend): Add signup route
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/hooks/useCsrfToken.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/auth/signin.tsx
  frontend/src/routes/auth/signup.tsx
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  migrations-check: any of: (models\.py$|(migrations/.+\.py))
  mypy-check: any of: .+\.py$
