Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  require_serial: true
  language: system

migrations-check:
  language: system
  name: Check for uncreated migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  pass_filenames: false
  stages:
  - commit
  require_serial: true

mypy-check:
  language: system
  name: Check for mypy
  entry: uv run mypy shargain
  stages:
  - commit
  pass_filenames: false
  require_serial: true

feat: add observability stack (Prometheus metrics + OpenTelemetry tracing) (#42)
  Dockerfile
  compose.yaml
  compose.yml
  deployment/dev/prometheus.yml
  deployment/docker/compose.yml
  docker-compose.yml
  gunicorn.conf.py
  openspec/changes/improving-the-observability/.openspec.yaml
  openspec/changes/improving-the-observability/design.md
  openspec/changes/improving-the-observability/proposal.md
  openspec/changes/improving-the-observability/specs/distributed-tracing/spec.md
  openspec/changes/improving-the-observability/specs/metrics-endpoint/spec.md
  openspec/changes/improving-the-observability/tasks.md
  pyproject.toml
  shargain/offers/services/batch_create.py
  shargain/offers/tests/conftest.py
  shargain/offers/tests/test_observability.py
  shargain/settings/base.py
  shargain/settings/tests.py
  shargain/urls.py
  uv.lock
Due: ruff-format, ruff, mypy-check

fix: import Span from opentelemetry.trace, not django instrumentation
  gunicorn.conf.py
Due: ruff-format, ruff, mypy-check

chore: sync specs and archive improving-the-observability change
  openspec/changes/archive/2026-06-28-improving-the-observability/.openspec.yaml
  openspec/changes/archive/2026-06-28-improving-the-observability/design.md
  openspec/changes/archive/2026-06-28-improving-the-observability/proposal.md
  openspec/changes/archive/2026-06-28-improving-the-observability/specs/distributed-tracing/spec.md
  openspec/changes/archive/2026-06-28-improving-the-observability/specs/metrics-endpoint/spec.md
  openspec/changes/archive/2026-06-28-improving-the-observability/tasks.md
  openspec/config.yaml
  openspec/specs/distributed-tracing/spec.md
  openspec/specs/metrics-endpoint/spec.md
Due: none

perf: batch offer create - single query + bulk insert + HashIndex on url
  shargain/offers/migrations/0022_add_offer_url_hash_idx.py
  shargain/offers/models.py
  shargain/offers/services/batch_create.py
Due: ruff-format, ruff, migrations-check, mypy-check

perf: batch offer create - single query + bulk insert + HashIndex on url (#43)
  shargain/offers/migrations/0022_add_offer_url_hash_idx.py
  shargain/offers/models.py
  shargain/offers/services/batch_create.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat: polish dashboard2 - design token alignment, card shadow removal, progress bar colors
  frontend/src/components/dashboard/MobileSidebarDrawer.tsx
  frontend/src/components/dashboard/UrlCard2.tsx
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/dashboard-sidebar2.tsx
  frontend/src/components/dashboard/monitor-settings2.tsx
  frontend/src/components/dashboard/monitored-websites/index2.tsx
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/progress-bar.tsx
  frontend/src/routes/dashboard2.tsx
Due: none

feat: wire up dashboard route, shared components, and i18n
  frontend/pnpm-workspace.yaml
  frontend/src/components/dashboard/AddUrlDialog.tsx
  frontend/src/components/dashboard/FilterEditor.tsx
  frontend/src/components/dashboard/LocationEditor.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/filterValidation.ts
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/supported-websites-modal.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/dashboard.tsx
  frontend/src/styles.css
  frontend/vite.config.ts
Due: none

feat: use ScrapingUrl name in notification header instead of ScrappingTarget name
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/services/batch_create.py
Due: ruff-format, ruff, mypy-check

Update notifications
  AGENTS.md
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

feat: use ScrapingUrl name in notification header instead of ScrappingTarget name (#45)
  AGENTS.md
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/services/batch_create.py
Due: ruff-format, ruff, mypy-check

fix: dashboard2 audit fixes — card spacing, touch targets, contrast, a11y, extracted components
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/DashboardShared.tsx
  frontend/src/components/dashboard/FilterEditor.tsx
  frontend/src/components/dashboard/MobileSidebarDrawer.tsx
  frontend/src/components/dashboard/MultiTargetDashboard.tsx
  frontend/src/components/dashboard/SingleTargetDashboard.tsx
  frontend/src/components/dashboard/UrlCard2.tsx
  frontend/src/components/dashboard/dashboard-sidebar2.tsx
  frontend/src/components/dashboard/monitored-websites/index2.tsx
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/routes/dashboard2.tsx
  frontend/src/routes/prototype.dashboard.tsx
  frontend/src/routes/prototype.dropdown.tsx
  frontend/src/styles.css
Due: none

fix: dashboard2 audit fixes — memoization, validation, overflow, context dedup
  frontend/src/components/dashboard/DashboardContext.tsx
  frontend/src/components/dashboard/DashboardShared.tsx
  frontend/src/components/dashboard/ErrorBoundary.tsx
  frontend/src/components/dashboard/FilterEditor.tsx
  frontend/src/components/dashboard/LocationEditor.tsx
  frontend/src/components/dashboard/MultiTargetDashboard.tsx
  frontend/src/components/dashboard/UrlCard2.tsx
  frontend/src/components/dashboard/monitor-settings2.tsx
  frontend/src/components/dashboard/monitored-websites/index2.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/components/dashboard/utils/quota.ts
  frontend/src/components/ui/card.tsx
Due: none

feat: polish dashboard — design tokens, a11y, code quality, dialog integration
  frontend/src/components/dashboard/AddUrlDialog.tsx
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/DashboardShared.tsx
  frontend/src/components/dashboard/FilterEditor.tsx
  frontend/src/components/dashboard/LocationEditor.tsx
  frontend/src/components/dashboard/MobileSidebarDrawer.tsx
  frontend/src/components/dashboard/MultiTargetDashboard.tsx
  frontend/src/components/dashboard/UrlCard2.tsx
  frontend/src/components/dashboard/dashboard-sidebar2.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/index2.tsx
  frontend/src/components/dashboard/monitored-websites/supported-websites-modal.tsx
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/routes/dashboard.tsx
  frontend/src/routes/prototype.dashboard.tsx
Due: none

polish: align notifications page with design system
  frontend/src/components/notifications/config-form-modal.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/routes/dashboard.tsx
  frontend/src/routes/notifications.tsx
Due: none

chore: remove dashboard2 route and all related code
  frontend/src/components/dashboard/DashboardContext.tsx
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/ErrorBoundary.tsx
  frontend/src/components/dashboard/MobileSidebarDrawer.tsx
  frontend/src/components/dashboard/MultiTargetDashboard.tsx
  frontend/src/components/dashboard/SingleTargetDashboard.tsx
  frontend/src/components/dashboard/UrlCard2.tsx
  frontend/src/components/dashboard/dashboard-sidebar2.tsx
  frontend/src/components/dashboard/monitor-settings2.tsx
  frontend/src/components/dashboard/monitored-websites/collapsible-example-urls.tsx
  frontend/src/components/dashboard/monitored-websites/index2.tsx
  frontend/src/components/dashboard/monitored-websites/supported-websites-modal.tsx
  frontend/src/components/dashboard/utils/quota.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/dashboard2.tsx
Due: none

Cleanup unused components.
  frontend/src/components/dashboard/DashboardShared.tsx
  frontend/src/components/dashboard/FilterEditor.tsx
  frontend/src/components/dashboard/LocationEditor.tsx
  frontend/src/components/ui/progress-bar.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/prototype.dashboard.tsx
  frontend/src/routes/prototype.dropdown.tsx
Due: none

Remove legacy serena config
  frontend/.serena/memories/code_style.md
  frontend/.serena/memories/commands.md
  frontend/.serena/memories/project_purpose.md
  frontend/.serena/memories/project_structure.md
  frontend/.serena/memories/tech_stack.md
  frontend/.serena/project.yml
Due: none

Restore csrf
  shargain/settings/local.py
Due: ruff-format, ruff, mypy-check

Update vite.config.ts
  frontend/vite.config.ts
Due: none

Minor accessibility adjustments.
  frontend/src/components/dashboard/AddUrlDialog.tsx
  frontend/src/components/dashboard/DashboardShared.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/components/notifications/config-form-modal.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/routes/notifications.tsx
Due: none

Added success sonner when saved filters
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
Due: none

Fix unused variable.
  frontend/src/routes/dashboard.tsx
Due: none

Add agents browser skill
  .agents/skills/agent-browser/SKILL.md
Due: none

docs: add field plugin system design spec
  docs/superpowers/specs/2026-07-25-field-plugin-system-design.md
Due: none

feat: add core field plugin types (FieldType, Operator, FieldDefinition, ListUrl, ExtractedOffer)
  shargain/offers/schemas/field_plugin.py
  shargain/offers/tests/schemas/test_field_plugin.py
Due: ruff-format, ruff, mypy-check

feat: add BaseFieldPlugin interface and OfferFieldResolver registry
  shargain/offers/schemas/field_plugin.py
  shargain/offers/services/offer_field_resolver.py
  shargain/offers/tests/services/test_offer_field_resolver.py
Due: ruff-format, ruff, mypy-check

feat: add CoreFieldsPlugin for backward compatibility
  shargain/offers/services/source_plugins/__init__.py
  shargain/offers/services/source_plugins/core_fields.py
  shargain/offers/tests/services/test_core_fields_plugin.py
Due: ruff-format, ruff, mypy-check

feat: register CoreFieldsPlugin in OfferFieldResolver on app ready
  shargain/offers/apps.py
  shargain/offers/services/source_plugins/__init__.py
Due: ruff-format, ruff, mypy-check

feat: add PydanticField custom model field
  shargain/offers/fields.py
  shargain/offers/tests/test_fields.py
Due: ruff-format, ruff, mypy-check

feat: add notification_fields to ScrapingUrl via PydanticField
  shargain/offers/migrations/0023_scrapingurl_notification_fields.py
  shargain/offers/models.py
  shargain/offers/schemas/field_plugin.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat: update OfferFilterService to work on ExtractedOffer with type-aware operators
  shargain/offers/schemas/offer_filter.py
  shargain/offers/services/batch_create.py
  shargain/offers/services/filter_service.py
  shargain/offers/tests/services/test_filter_service.py
Due: ruff-format, ruff, mypy-check

feat: add extracted_fields to NotificationMessageContext and render in message
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

refactor: decompose _notify() into _extract_offers, _filter_offers, _build_contexts
  shargain/offers/fields.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/services/test_batch_create.py
Due: ruff-format, ruff, mypy-check

feat: add type-to-operator mapping and operator resolution
  shargain/offers/services/offer_field_resolver.py
  shargain/offers/tests/services/test_offer_field_resolver.py
Due: ruff-format, ruff, mypy-check

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  migrations-check: any of: (models\.py$|(migrations/.+\.py))
  mypy-check: any of: .+\.py$
