Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: ".+\\.py$"
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        require_serial: true
        language: system
        types: [ python ]
      - id: ruff
        name: ruff
        # Remove --fix, in case you want it to disable autofix when this hook runs
        entry: uv run ruff check --fix --force-exclude
        require_serial: true
        language: system
        types: [ python ]
      - id: migrations-check
        language: system
        name: Check for uncreated migrations
        entry: uv run python manage.py makemigrations --check --dry-run
        files: "(models\\.py$|(migrations/.+\\.py))"
        pass_filenames: false
        stages: [ commit ]
        require_serial: true
      - id: mypy-check
        language: system
        name: Check for mypy
        entry: uv run mypy shargain
        stages: [ commit ]
        files: ".+\\.py$"
        pass_filenames: false
        require_serial: true
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.25.0
    hooks:
    -   id: django-upgrade
        language_version: python3.12
        args: ["--target-version", "5.1"]

feat: add telegram sender capability to send a location pin with an offer card
  shargain/notifications/senders.py
  shargain/notifications/tests/services/test_senders.py
Due: ruff-format, ruff, mypy-check

feat: carry offer coordinates on notification context and allow cards without map url
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

feat: pass parsed offer coordinates from batch create into notification contexts
  shargain/offers/services/batch_create.py
  shargain/offers/tests/services/test_batch_create.py
Due: ruff-format, ruff, mypy-check

feat: send map pins with pinned offers and batch coordinate-less offers as before
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

fix: declare send_with_pin on the notification sender abstraction
  shargain/notifications/senders.py
Due: ruff-format, ruff, mypy-check

feat: open map pins at city scale instead of building/neighborhood zoom
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

fix: copy pnpm-workspace.yaml into frontend Docker build
  frontend/Dockerfile
Due: none

refactor: move Coordinates value object out of offers.services to break import cycle
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/geo.py
  shargain/offers/services/location_parsers.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/offers/tests/services/test_location_parsers.py
Due: ruff-format, ruff, mypy-check

test: drop low-value notification tests that duplicate behavior or lock internals
  shargain/notifications/tests/services/test_notifications.py
  shargain/notifications/tests/services/test_senders.py
Due: ruff-format, ruff, mypy-check

feat: send Telegram map pins with offer notifications (#52)
  frontend/Dockerfile
  shargain/notifications/senders.py
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/notifications/tests/services/test_senders.py
  shargain/offers/geo.py
  shargain/offers/services/batch_create.py
  shargain/offers/services/location_parsers.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/offers/tests/services/test_location_parsers.py
Due: ruff-format, ruff, mypy-check

feat: add zoom and map center to Google Maps links
  shargain/offers/services/batch_create.py
  shargain/offers/services/location_parsers.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/offers/tests/services/test_location_parsers.py
Due: ruff-format, ruff, mypy-check

docs: address filter field design spec
  docs/superpowers/specs/2026-09-08-address-filter-field-design.md
Due: none

feat: add filterable address field for olx and otodom offers
  docs/superpowers/specs/2026-09-08-address-filter-field-design.md
  shargain/offers/field_extraction/plugins/__init__.py
  shargain/offers/field_extraction/plugins/olx.py
  shargain/offers/field_extraction/plugins/otodom.py
  shargain/offers/location_parsers.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/services/test_location_parsers.py
  shargain/offers/tests/services/test_olx_plugin.py
  shargain/offers/tests/services/test_otodom_plugin.py
Due: ruff-format, ruff, mypy-check

test: simplify olx/otodom plugin tests with parametrize
  shargain/offers/tests/services/test_olx_plugin.py
  shargain/offers/tests/services/test_otodom_plugin.py
Due: ruff-format, ruff, mypy-check

remove
  docs/superpowers/specs/2026-09-08-address-filter-field-design.md
Due: none

feature: filterable address field for OLX and Otodom offers (#53)
  shargain/offers/field_extraction/plugins/__init__.py
  shargain/offers/field_extraction/plugins/olx.py
  shargain/offers/field_extraction/plugins/otodom.py
  shargain/offers/location_parsers.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/services/test_location_parsers.py
  shargain/offers/tests/services/test_olx_plugin.py
  shargain/offers/tests/services/test_otodom_plugin.py
Due: ruff-format, ruff, mypy-check

feat: keep Google Maps link in pinned offer cards
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

feat: keep Google Maps link in pinned offer cards (#54)
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

Get rid of agent-os
  agent-os/specs/2026-02-16-1830-subscription-plans/plan.md
  agent-os/specs/2026-02-16-dashboard-header-ux/plan.md
  agent-os/specs/2026-02-16-dashboard-header-ux/references.md
  agent-os/specs/2026-02-16-dashboard-header-ux/shape.md
  agent-os/specs/2026-02-16-dashboard-header-ux/standards.md
Due: none

docs: add liked-offers design spec
  docs/superpowers/specs/2026-09-22-liked-offers-design.md
Due: none

refactor: decouple telegram bot handlers from global state
  AGENTS.md
  openspec/config.yaml
  shargain/telegram/bot.py
Due: ruff-format, ruff, mypy-check

feat: Implement liked offers telegram reaction and admin
  .pre-commit-config.yaml
  shargain/offers/admin/__init__.py
  shargain/offers/application/exceptions.py
  shargain/offers/likes.py
  shargain/offers/migrations/0024_offerlike_offerlike_offer_like_has_identity_and_more.py
  shargain/offers/models.py
  shargain/offers/tests/test_likes.py
  shargain/telegram/bot.py
  shargain/telegram/tests/test_reaction_handler.py
Due: ruff-format, ruff, migrations-check, mypy-check

refactor: decouple telegram bot handlers from global state (#55)
  AGENTS.md
  agent-os/specs/2026-02-16-1830-subscription-plans/plan.md
  agent-os/specs/2026-02-16-dashboard-header-ux/plan.md
  agent-os/specs/2026-02-16-dashboard-header-ux/references.md
  agent-os/specs/2026-02-16-dashboard-header-ux/shape.md
  agent-os/specs/2026-02-16-dashboard-header-ux/standards.md
  docs/superpowers/specs/2026-09-22-liked-offers-design.md
  openspec/config.yaml
  shargain/telegram/bot.py
Due: ruff-format, ruff, mypy-check

chore: enable message_reaction in telegram bot polling mode
  shargain/telegram/bot.py
Due: ruff-format, ruff, mypy-check

build: upgrade to Django 5.2 and eliminate test warnings
  .pre-commit-config.yaml
  pyproject.toml
  shargain/accounts/tests/fixtures.py
  shargain/commons/models.py
  shargain/notifications/migrations/0007_alter_notificationconfig_webhook_url.py
  shargain/notifications/models.py
  shargain/offers/filtering/schemas.py
  shargain/offers/migrations/0024_alter_offer_list_url_alter_offer_main_image_url_and_more.py
  shargain/offers/models.py
  shargain/offers/tests/test_fields.py
  shargain/public_api/api.py
  shargain/public_api/auth.py
  shargain/settings/base.py
  uv.lock
Due: ruff-format, ruff, migrations-check, mypy-check

fix: resolve AttributeError when setting logging level in bot
  docs/superpowers/specs/2026-09-22-liked-offers-design.md
  shargain/offers/tests/factories.py
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
  shargain/telegram/tests/test_reaction_handler.py
Due: ruff-format, ruff, mypy-check

feat: improve __str__ for Offer and OfferLike
  shargain/offers/models.py
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat: add /liked command to view liked offers
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
Due: ruff-format, ruff, mypy-check

feat: scope /liked command to show likes for the current chat
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
Due: ruff-format, ruff, mypy-check

feat: show all liked offers instead of just top 10
  shargain/telegram/bot.py
Due: ruff-format, ruff, mypy-check

feat: add click-to-unlike commands to the /liked output list
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
Due: ruff-format, ruff, mypy-check

feat: Implement liked offers telegram reaction and admin (#56)
  .pre-commit-config.yaml
  docs/superpowers/specs/2026-09-22-liked-offers-design.md
  shargain/offers/admin/__init__.py
  shargain/offers/application/exceptions.py
  shargain/offers/likes.py
  shargain/offers/migrations/0024_offerlike_offerlike_offer_like_has_identity_and_more.py
  shargain/offers/models.py
  shargain/offers/tests/factories.py
  shargain/offers/tests/test_likes.py
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
Due: ruff-format, ruff, migrations-check, mypy-check

build: upgrade to Django 6.0 and eliminate test warnings
  .pre-commit-config.yaml
  pyproject.toml
  shargain/accounts/tests/fixtures.py
  shargain/notifications/models.py
  shargain/offers/filtering/schemas.py
  shargain/offers/tests/test_fields.py
  shargain/public_api/api.py
  shargain/public_api/auth.py
  shargain/settings/base.py
  uv.lock
Due: ruff-format, ruff, migrations-check, mypy-check

feat: add offer price to the /liked output list
  shargain/telegram/bot.py
  shargain/telegram/tests/test_like_reply_handler.py
Due: ruff-format, ruff, mypy-check

fix: use condition= for CheckConstraint (check= removed in Django 6.0)
  shargain/offers/migrations/0024_offerlike_offerlike_offer_like_has_identity_and_more.py
  shargain/offers/models.py
Due: ruff-format, ruff, migrations-check, mypy-check

build: upgrade to Django 6.0 and eliminate test warnings (#58)
  .pre-commit-config.yaml
  pyproject.toml
  shargain/accounts/tests/fixtures.py
  shargain/notifications/models.py
  shargain/offers/filtering/schemas.py
  shargain/offers/migrations/0024_offerlike_offerlike_offer_like_has_identity_and_more.py
  shargain/offers/models.py
  shargain/offers/tests/test_fields.py
  shargain/public_api/api.py
  shargain/public_api/auth.py
  shargain/settings/base.py
  uv.lock
Due: ruff-format, ruff, migrations-check, mypy-check
