Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  require_serial: true
  language: system

migrations-check:
  language: system
  name: Check for uncreated migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  pass_filenames: false
  stages:
  - commit
  require_serial: true

mypy-check:
  language: system
  name: Check for mypy
  entry: uv run mypy shargain
  stages:
  - commit
  pass_filenames: false
  require_serial: true

feat: add GET /urls/{id}/available-fields endpoint
  shargain/offers/tests/api/test_available_fields.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat: add URL-aware filter validation
  shargain/offers/schemas/offer_filter.py
  shargain/offers/tests/schemas/test_offer_filter.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

feat: add frontend field plugin support (useAvailableFields hook, dynamic OfferFilters, notification field selection)
  frontend/src/components/dashboard/monitored-websites/OfferFilters.test.tsx
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.test.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
  frontend/src/components/dashboard/monitored-websites/filterValidation.ts
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/hooks/useAvailableFields.ts
  frontend/src/lib/api/client.gen.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
Due: none

fix: address code review issues
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/dto.py
  shargain/offers/fields.py
  shargain/offers/migrations/0023_scrapingurl_notification_fields.py
  shargain/public_api/api.py
Due: ruff-format, ruff, migrations-check, mypy-check

refactor: move URL-aware filter validation to services layer
  shargain/offers/schemas/offer_filter.py
  shargain/offers/services/filter_validation.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

fix: use NotificationFieldsSelection type in ScrapingUrlDTO
  shargain/offers/application/dto.py
Due: ruff-format, ruff, mypy-check

refactor: make ExtractedOffer._offer private with public getters
  shargain/offers/schemas/field_plugin.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/schemas/test_field_plugin.py
  shargain/offers/tests/services/test_filter_service.py
Due: ruff-format, ruff, mypy-check

refactor: ExtractedOffer uses private _offer with public getters
  shargain/offers/schemas/field_plugin.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/schemas/test_field_plugin.py
Due: ruff-format, ruff, mypy-check

chore: move field_plugin.py -> field_extraction/plugin.py, offer_filter.py -> filtering/schemas.py
  shargain/offers/field_extraction/__init__.py
  shargain/offers/field_extraction/plugin.py
  shargain/offers/field_extraction/plugins/__init__.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/filtering/__init__.py
  shargain/offers/filtering/schemas.py
  shargain/offers/services/source_plugins/core_fields.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
  shargain/offers/tests/schemas/test_offer_filter.py
  shargain/offers/tests/test_fields.py
  shargain/offers/tests/test_filter_schemas.py
  tach.toml
Due: ruff-format, ruff, mypy-check

chore: remove low-value tests, rename unclear test, parametrize
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/tests/schemas/test_field_plugin.py
  shargain/offers/tests/services/test_batch_create.py
Due: ruff-format, ruff, mypy-check

chore: remove empty schemas/ dir, fix circular imports with TYPE_CHECKING
  shargain/offers/field_extraction/plugins/core_fields.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/schemas/__init__.py
Due: ruff-format, ruff, mypy-check

fix: update test imports to use new submodule packages
  shargain/offers/tests/schemas/test_field_plugin.py
  shargain/offers/tests/schemas/test_offer_filter.py
  shargain/offers/tests/services/test_core_fields_plugin.py
  shargain/offers/tests/services/test_filter_service.py
  shargain/offers/tests/services/test_offer_field_resolver.py
  shargain/offers/tests/test_filter_schemas.py
Due: ruff-format, ruff, mypy-check

chore: add ExtractedFieldValue/Entry types, extracted_fields as list, reusable fixtures
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/field_extraction/__init__.py
  shargain/offers/field_extraction/plugin.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/api/test_available_fields.py
  shargain/offers/tests/conftest.py
  shargain/offers/tests/services/test_batch_create.py
Due: ruff-format, ruff, mypy-check

chore: move filter_service.py -> filtering/service.py, filter_validation.py -> filtering/validation.py
  shargain/offers/filtering/service.py
  shargain/offers/filtering/validation.py
Due: ruff-format, ruff, mypy-check

chore: add minimal tach config for submodule boundary enforcement
  shargain/offers/filtering/validation.py
  tach.toml
Due: ruff-format, ruff, mypy-check

chore: add i18n-ready label property to Operator enum, remove OPERATOR_LABELS dict
  shargain/offers/field_extraction/__init__.py
  shargain/offers/field_extraction/plugin.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/tests/schemas/test_field_plugin.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

chore: add notification test fixtures (offer, notification_service)
  shargain/notifications/tests/services/conftest.py
  shargain/notifications/tests/services/test_notifications.py
Due: ruff-format, ruff, mypy-check

fix: update internal imports in moved files to use new paths
  shargain/offers/field_extraction/plugins/core_fields.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/filtering/service.py
  shargain/offers/filtering/validation.py
Due: ruff-format, ruff, mypy-check

fix: update external imports to use new submodule packages
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/dto.py
  shargain/offers/apps.py
  shargain/offers/models.py
  shargain/offers/services/batch_create.py
  shargain/public_api/api.py
Due: ruff-format, ruff, migrations-check, mypy-check

fix: update stale NotificationFieldsSelection import path in 0023 migration
  shargain/offers/field_extraction/plugin.py
  shargain/offers/migrations/0023_scrapingurl_notification_fields.py
  shargain/public_api/api.py
Due: ruff-format, ruff, migrations-check, mypy-check

fix: resolve pydantic StrOrPromise schema generation, lint/format issues
  shargain/notifications/services/notifications.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/services/batch_create.py
  shargain/public_api/api.py
Due: ruff-format, ruff, mypy-check

chore: address PR review comments - global imports, typing, i18n, test quality
  shargain/offers/admin/__init__.py
  shargain/offers/db_fields.py
  shargain/offers/field_extraction/plugin.py
  shargain/offers/field_extraction/plugins/core_fields.py
  shargain/offers/field_extraction/resolver.py
  shargain/offers/filtering/service.py
  shargain/offers/migrations/0023_scrapingurl_notification_fields.py
  shargain/offers/models.py
  shargain/offers/services/batch_create.py
  shargain/offers/tests/api/test_available_fields.py
  shargain/offers/tests/schemas/test_field_plugin.py
  shargain/offers/tests/services/test_filter_service.py
  shargain/offers/tests/services/test_offer_field_resolver.py
  shargain/offers/tests/test_fields.py
  shargain/offers/tests/test_observability.py
  shargain/public_api/api.py
Due: ruff-format, ruff, migrations-check, mypy-check

chore: add TypedDict for filter service parameter types
  shargain/offers/filtering/service.py
Due: ruff-format, ruff, mypy-check

chore: use Operator enum in filter service _get_operator_handler
  shargain/offers/filtering/service.py
Due: ruff-format, ruff, mypy-check

chore: fix misleading comment in tach.toml
  tach.toml
Due: none

chore: remove ignore_type_checking_imports, set explicit field_extraction dependency
  tach.toml
Due: none

fix: keep filter trigger visible on fields API failure and reset operator on field change
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
Due: none

fix: prevent infinite render loop from unstable initialWaypoints default and handle fields load error
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.test.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
Due: none

feat: replace notification field checkboxes with searchable multi-select picker
  frontend/openapi.json
  frontend/src/components/dashboard/monitored-websites/NotificationFieldsPicker.test.tsx
  frontend/src/components/dashboard/monitored-websites/NotificationFieldsPicker.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.test.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
Due: none

feat: show filter empty state and allow explicitly clearing filters
  frontend/src/components/dashboard/monitored-websites/OfferFilters.test.tsx
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
  shargain/offers/application/commands/update_scraping_url.py
  shargain/public_api/api.py
  shargain/public_api/tests/test_update_scraping_url_endpoint.py
Due: ruff-format, ruff, mypy-check

chore: add tach dev dependency for modularity checks
  pyproject.toml
  uv.lock
Due: none

Fix parsing otodom address
  shargain/offers/services/location_parsers.py
Due: ruff-format, ruff, mypy-check

feat: add OLX and Otodom apartment field plugins
  .gitignore
  shargain/locale/pl/LC_MESSAGES/django.mo
  shargain/locale/pl/LC_MESSAGES/django.po
  shargain/offers/field_extraction/plugins/__init__.py
  shargain/offers/field_extraction/plugins/olx_apartment.py
  shargain/offers/field_extraction/plugins/otodom_apartment.py
  shargain/offers/tests/api/test_available_fields.py
  shargain/offers/tests/services/test_filter_service.py
  shargain/offers/tests/services/test_olx_apartment_plugin.py
  shargain/offers/tests/services/test_otodom_apartment_plugin.py
Due: ruff-format, ruff, mypy-check

feat: wrap parking value in RichValue with display for notifications
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/field_extraction/__init__.py
  shargain/offers/field_extraction/plugin.py
  shargain/offers/field_extraction/plugins/olx_apartment.py
  shargain/offers/filtering/service.py
  shargain/offers/tests/services/test_filter_service.py
  shargain/offers/tests/services/test_olx_apartment_plugin.py
Due: ruff-format, ruff, mypy-check

Fix docker build for heroku registry
  .github/workflows/docker.yml
Due: none

Create olx delivery plugin
  shargain/offers/field_extraction/plugins/__init__.py
  shargain/offers/field_extraction/plugins/olx_delivery.py
  shargain/offers/tests/api/test_available_fields.py
  shargain/offers/tests/services/test_olx_delivery_plugin.py
Due: ruff-format, ruff, mypy-check

fix: serialize pydantic models in PydanticField admin form field
  shargain/offers/db_fields.py
  shargain/offers/tests/admin/test_admin.py
  shargain/offers/tests/test_fields.py
Due: ruff-format, ruff, mypy-check

fix: allow saving pydantic values in PydanticField
  shargain/offers/db_fields.py
  shargain/offers/tests/admin/test_admin.py
  shargain/offers/tests/test_fields.py
Due: ruff-format, ruff, mypy-check

fix: deduplicate offers by URL within batch to prevent duplicate notifications
  shargain/offers/services/batch_create.py
Due: ruff-format, ruff, mypy-check

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  migrations-check: any of: (models\.py$|(migrations/.+\.py))
  mypy-check: any of: .+\.py$
