Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  require_serial: true
  language: system

migrations-check:
  language: system
  name: Check for uncreated migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  pass_filenames: false
  stages:
  - commit
  require_serial: true

mypy-check:
  language: system
  name: Check for mypy
  entry: uv run mypy shargain
  stages:
  - commit
  pass_filenames: false
  require_serial: true

Extend functionality of deleting links by adding interactive reply keyboard.
  shargain/telegram/application/list_scraping_links_handler.py
  shargain/telegram/bot.py
Due: ruff-format, ruff, mypy-check

Update the memory bank
  docs/memory_bank/activeContext.md
  docs/memory_bank/progress.md
  docs/memory_bank/systemPatterns.md
  docs/memory_bank/techContext.md
Due: none

Update memory bank
  docs/memory_bank/activeContext.md
Due: none

Fix flow with adding new urls
  shargain/offers/websites.py
  shargain/telegram/add_link_flow.py
  shargain/telegram/detect_list_url.py
Due: ruff-format, ruff, mypy-check

Simplify the add link flow
  docs/memory_bank/activeContext.md
  shargain/locale/pl/LC_MESSAGES/django.mo
  shargain/locale/pl/LC_MESSAGES/django.po
  shargain/telegram/add_link_flow.py
  shargain/telegram/detect_list_url.py
Due: ruff-format, ruff, mypy-check

Add `list_url` field to Offer model
  shargain/accounts/migrations/0003_alter_registertoken_options.py
  shargain/offers/migrations/0014_add_list_url_to_offer.py
  shargain/offers/models.py
  shargain/offers/serializers.py
  shargain/offers/tests/test_models.py
Due: ruff-format, ruff, migrations-check, mypy-check

Add owner field to ScrappingTarget model
  shargain/offers/admin/__init__.py
  shargain/offers/migrations/0015_scrappingtarget_owner.py
  shargain/offers/models.py
Due: ruff-format, ruff, migrations-check, mypy-check

Add subscription model and user activity tracking features to memory bank.
  docs/memory_bank/productContext.md
  docs/memory_bank/progress.md
  docs/memory_bank/techContext.md
Due: none

Create an application's layer for offers app with placeholder command and query.
  shargain/offers/application/__init__.py
  shargain/offers/application/actor.py
  shargain/offers/application/commands/__init__.py
  shargain/offers/application/commands/create_target.py
  shargain/offers/application/queries/__init__.py
  shargain/offers/application/queries/list_targets.py
Due: ruff-format, ruff, mypy-check

Draft of tests for list_targets.
  shargain/offers/tests/application/queries/test_list_targets.py
Due: ruff-format, ruff, mypy-check

Implement list_targets function with pagination and filtering by user ownership + tests
  pyproject.toml
  shargain/offers/application/queries/list_targets.py
  shargain/offers/tests/application/queries/test_list_targets.py
  shargain/offers/tests/factories.py
  uv.lock
Due: ruff-format, ruff, mypy-check

Add application layer for managing scraping URLs and targets with commands and queries + tests
  shargain/offers/application/commands/add_scraping_url.py
  shargain/offers/application/commands/delete_scraping_url.py
  shargain/offers/application/commands/delete_target.py
  shargain/offers/application/commands/toggle_target_active.py
  shargain/offers/application/queries/get_scraping_url.py
  shargain/offers/application/queries/get_target.py
  shargain/offers/application/queries/list_target_urls.py
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_delete_scraping_url.py
  shargain/offers/tests/application/commands/test_delete_target.py
  shargain/offers/tests/application/queries/test_get_scraping_url.py
  shargain/offers/tests/application/queries/test_get_target.py
  shargain/offers/tests/application/queries/test_list_target_urls.py
  shargain/offers/tests/conftest.py
  shargain/offers/tests/factories.py
Due: ruff-format, ruff, mypy-check

Add notification configuration management for scraping targets with tests
  shargain/notifications/models.py
  shargain/offers/application/commands/add_scraping_url.py
  shargain/offers/application/commands/change_notification_config.py
  shargain/offers/tests/application/commands/test_change_notification_config.py
Due: ruff-format, ruff, migrations-check, mypy-check

Wobodobod - refactor commands and queries, add tests.
  pyproject.toml
  shargain/offers/application/commands/add_scraping_url.py
  shargain/offers/application/commands/change_notification_config.py
  shargain/offers/application/commands/toggle_target_active.py
  shargain/offers/application/commands/toggle_target_notifications.py
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/dto.py
  shargain/offers/application/queries/get_target.py
  shargain/offers/application/queries/list_target_urls.py
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_change_notification_config.py
  shargain/offers/tests/application/commands/test_toggle_target_notifications.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
  shargain/offers/tests/application/queries/test_get_target.py
  shargain/offers/tests/application/queries/test_list_target_urls.py
  uv.lock
Due: ruff-format, ruff, mypy-check

Refactor error handling to use custom exceptions for target and scraping URL operations
  shargain/offers/application/commands/add_scraping_url.py
  shargain/offers/application/commands/change_notification_config.py
  shargain/offers/application/commands/toggle_target_active.py
  shargain/offers/application/commands/toggle_target_notifications.py
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/queries/get_scraping_url.py
  shargain/offers/application/queries/get_target.py
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_change_notification_config.py
  shargain/offers/tests/application/commands/test_toggle_target_notifications.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
  shargain/offers/tests/application/queries/test_get_scraping_url.py
  shargain/offers/tests/application/queries/test_get_target.py
Due: ruff-format, ruff, mypy-check

Document error handling strategy with structured and declarative exceptions
  docs/memory_bank/systemPatterns.md
Due: none

Minor adjustments
  shargain/notifications/migrations/0006_notificationconfig_owner.py
  shargain/notifications/models.py
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/dto.py
  shargain/offers/application/queries/get_target.py
Due: ruff-format, ruff, migrations-check, mypy-check

Fix reference to http header
  shargain/notifications/views/admin.py
Due: ruff-format, ruff, mypy-check

Remove unnecessary comment
  shargain/offers/application/commands/create_target.py
Due: ruff-format, ruff, mypy-check

Add accounts factories
  shargain/accounts/tests/factories.py
Due: ruff-format, ruff, mypy-check

Add application layer exceptions
  shargain/offers/application/exceptions.py
Due: ruff-format, ruff, mypy-check

Extend ruff ignore list by rule responsible for exception naming
  pyproject.toml
Due: none

Add tests for `toggle_target_active` command
  shargain/offers/tests/application/commands/test_toggle_target_active.py
Due: ruff-format, ruff, mypy-check

Add `NotificationConfigFactory` for testing notifications setup
  shargain/notifications/tests/factories.py
Due: ruff-format, ruff, mypy-check

Create a public API for managing scraping targets.
  shargain/public_api/__init__.py
  shargain/public_api/api.py
  shargain/urls.py
  uv.lock
Due: ruff-format, ruff, mypy-check

Bootstrap frontend
  frontend/.cta.json
  frontend/.cursorrules
  frontend/.gitignore
  frontend/.vscode/settings.json
  frontend/README.md
  frontend/components.json
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/components/Header.tsx
  frontend/src/logo.svg
  frontend/src/main.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles.css
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

Add shadcn library imported from v0
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/user-menu.tsx
  frontend/src/components/dashboard/dashboard-header.tsx
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/tailwind.config.ts
  frontend/types/dashboard.ts
Due: none

Adapt frontend components from next to tanstack router
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/user-menu.tsx
  frontend/src/components/dashboard/dashboard-header.tsx
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitored-websites.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/auth.tsx
  frontend/src/routes/dashboard.tsx
Due: none

Add eslint for the frontend
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/user-menu.tsx
  frontend/src/components/dashboard/dashboard-header.tsx
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/routes/dashboard.tsx
  frontend/types/dashboard.ts
Due: none

Fix eslint
  frontend/package-lock.json
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites.tsx
  frontend/src/routes/dashboard.tsx
Due: none

Add is_active field to ScrapingUrl and update filters and serializers
  shargain/offers/filters.py
  shargain/offers/migrations/0016_scrapingurl_is_active.py
  shargain/offers/models.py
  shargain/offers/serializers.py
Due: ruff-format, ruff, migrations-check, mypy-check

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  migrations-check: any of: (models\.py$|(migrations/.+\.py))
  mypy-check: any of: .+\.py$
