Repository nekeal/shargain: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: ".+\\.py$"
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        require_serial: true
        language: system
        types: [ python ]
      - id: ruff
        name: ruff
        # Remove --fix, in case you want it to disable autofix when this hook runs
        entry: uv run ruff check --fix --force-exclude
        require_serial: true
        language: system
        types: [ python ]
      - id: migrations-check
        language: system
        name: Check for uncreated migrations
        entry: uv run python manage.py makemigrations --check --dry-run
        files: "(models\\.py$|(migrations/.+\\.py))"
        pass_filenames: false
        stages: [ commit ]
        require_serial: true
      - id: mypy-check
        language: system
        name: Check for mypy
        entry: uv run mypy shargain
        stages: [ commit ]
        files: ".+\\.py$"
        pass_filenames: false
        require_serial: true
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.25.0
    hooks:
    -   id: django-upgrade
        language_version: python3.12
        args: ["--target-version", "5.1"]

Subscriptions draft
  shargain/public_api/api.py
  shargain/quotas/models.py
  shargain/settings/local.py
  shargain/subscriptions/migrations/0002_seed_default_free_plan_and_backfill.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat: add metadata field to Offer model for supplementary scraping data
  shargain/offers/migrations/0019_offer_metadata.py
  shargain/offers/models.py
  shargain/offers/serializers.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/offers/tests/test_serializers.py
Due: ruff-format, ruff, migrations-check, mypy-check

fix: allow null values in metadata.extra JSON fields
  shargain/offers/serializers.py
  shargain/offers/tests/test_serializers.py
Due: ruff-format, ruff, mypy-check

Add info about location to notifications
  frontend/openapi.json
  frontend/src/components/dashboard/monitored-websites/OfferFilters.test.tsx
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/vite.config.ts
  shargain/notifications/services/notifications.py
  shargain/offers/application/commands/add_scraping_url.py
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/dto.py
  shargain/offers/migrations/0020_scrapingurl_show_location_map_in_notifications.py
  shargain/offers/models.py
  shargain/offers/services/batch_create.py
  shargain/offers/services/location_parsers.py
  shargain/offers/tests/application/commands/test_add_scraping_url.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/public_api/api.py
  shargain/quotas/models.py
  shargain/settings/local.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat: extend backend with possibility of configuring waypoints
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/application/commands/add_scraping_url.py
  shargain/offers/application/commands/update_scraping_url.py
  shargain/offers/application/dto.py
  shargain/offers/migrations/0021_scrapingurl_waypoints.py
  shargain/offers/models.py
  shargain/offers/services/batch_create.py
  shargain/offers/services/geo_utils.py
  shargain/offers/services/location_parsers.py
  shargain/offers/tests/application/commands/test_update_scraping_url.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/offers/tests/services/test_geo_utils.py
  shargain/offers/tests/services/test_location_parsers.py
  shargain/public_api/api.py
Due: ruff-format, ruff, migrations-check, mypy-check

feat: Add possibility of adding waypoints on the frontend
  frontend/AGENTS.md
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.test.tsx
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/lib/google-maps-url.test.ts
  frontend/src/lib/google-maps-url.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/routes/dashboard.tsx
Due: none

chore: add WaypointData type annotation and use Button component
  frontend/src/components/dashboard/monitored-websites/UrlNotificationSettings.tsx
  shargain/offers/services/batch_create.py
Due: ruff-format, ruff, mypy-check

feat: add OtodomLocationParser with street-level map search
  shargain/offers/services/location_parsers.py
  shargain/offers/tests/services/test_location_parsers.py
Due: ruff-format, ruff, mypy-check

chore: add OpenSpec change artifacts for backend source plugin refactor
  openspec/changes/refactor-backend-source-plugins/.openspec.yaml
  openspec/changes/refactor-backend-source-plugins/design.md
  openspec/changes/refactor-backend-source-plugins/proposal.md
  openspec/changes/refactor-backend-source-plugins/specs/backend-source-plugins/spec.md
  openspec/changes/refactor-backend-source-plugins/tasks.md
  openspec/config.yaml
Due: none

feat: refactor backend source plugins with SourcePlugin protocol and static registry
  openspec/changes/refactor-backend-source-plugins/tasks.md
  shargain/notifications/services/notifications.py
  shargain/notifications/tests/services/test_notifications.py
  shargain/offers/services/batch_create.py
  shargain/offers/services/location_parsers.py
  shargain/offers/services/source_plugins/__init__.py
  shargain/offers/services/source_plugins/builder.py
  shargain/offers/services/source_plugins/contracts.py
  shargain/offers/services/source_plugins/fallback.py
  shargain/offers/services/source_plugins/matchers.py
  shargain/offers/services/source_plugins/olx.py
  shargain/offers/services/source_plugins/otodom.py
  shargain/offers/services/source_plugins/registry.py
  shargain/offers/tests/services/test_batch_create.py
  shargain/offers/tests/services/test_fallback_plugin.py
  shargain/offers/tests/services/test_location_parsers.py
  shargain/offers/tests/services/test_olx_plugin.py
  shargain/offers/tests/services/test_otodom_plugin.py
  shargain/offers/tests/services/test_source_plugin_builder.py
  shargain/offers/tests/services/test_source_plugin_matchers.py
  shargain/offers/tests/services/test_source_plugin_registry.py
Due: ruff-format, ruff, mypy-check

refactor: address code review feedback on source plugin refactor
  shargain/offers/services/source_plugins/builder.py
  shargain/offers/services/source_plugins/olx.py
  shargain/offers/services/source_plugins/registry.py
  shargain/offers/tests/services/test_batch_create.py
Due: ruff-format, ruff, mypy-check

chore: add OpenSpec change artifacts for scraping target list feature
  openspec/changes/scraping-target-list/.openspec.yaml
  openspec/changes/scraping-target-list/design.md
  openspec/changes/scraping-target-list/proposal.md
  openspec/changes/scraping-target-list/specs/target-list/spec.md
  openspec/changes/scraping-target-list/tasks.md
Due: none

fix: parallelize target queries, add staleTime, clean up query key pattern
  frontend/openapi.json
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/components/dashboard/target-selector.tsx
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/routes/dashboard.tsx
  openspec/changes/scraping-target-list/tasks.md
  shargain/offers/application/queries/list_targets.py
  shargain/offers/tests/application/queries/test_list_targets.py
  shargain/public_api/api.py
  shargain/public_api/tests/test_targets_list.py
Due: ruff-format, ruff, mypy-check

fix: review feedback — split branches, prefetch once, mobile responsive, cleanup
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/routes/dashboard.tsx
Due: none

fix: dashboard bug fixes, i18n, dead code removal, backend cleanup
  frontend/src/components/dashboard/target-selector-inline.test.tsx
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/components/dashboard/target-selector.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/routes/dashboard.tsx
  shargain/offers/application/queries/list_targets.py
Due: ruff-format, ruff, mypy-check

fix: select dropdown width on mobile — use w-full trigger and match content width via CSS variable
  frontend/src/components/dashboard/target-selector-inline.tsx
Due: none

fix: dropdown narrower than trigger on mobile — add min-width on SelectContent to match trigger width
  frontend/src/components/dashboard/target-selector-inline.tsx
Due: none

fix: apply styling review feedback to target-selector-inline
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/routes/dashboard.tsx
Due: none

feat: add scraping target list endpoint and multi-target dashboard flow (#28)
  frontend/openapi.json
  frontend/src/components/dashboard/dashboard-sidebar.tsx
  frontend/src/components/dashboard/monitor-settings.tsx
  frontend/src/components/dashboard/monitored-websites/index.tsx
  frontend/src/components/dashboard/monitored-websites/useMonitors.ts
  frontend/src/components/dashboard/target-selector-inline.test.tsx
  frontend/src/components/dashboard/target-selector-inline.tsx
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/pl/translation.json
  frontend/src/routes/dashboard.tsx
  openspec/changes/scraping-target-list/.openspec.yaml
  openspec/changes/scraping-target-list/design.md
  openspec/changes/scraping-target-list/proposal.md
  openspec/changes/scraping-target-list/specs/target-list/spec.md
  openspec/changes/scraping-target-list/tasks.md
  shargain/offers/application/queries/list_targets.py
  shargain/offers/tests/application/queries/test_list_targets.py
  shargain/public_api/api.py
  shargain/public_api/tests/test_targets_list.py
Due: ruff-format, ruff, mypy-check

chore: migrate from Makefile to justfile
  .windsurf/rules/base.md
  AGENTS.md
  Makefile
  README.md
  agent-os/specs/2026-02-16-1830-subscription-plans/plan.md
  docs/memory_bank/techContext.md
  frontend/base.md
  justfile
  openspec/changes/scraping-target-list/tasks.md
Due: none

chore: add run command for parallel dev servers
  justfile
Due: none

fix: save button stays disabled after editing filters
  frontend/src/components/dashboard/monitored-websites/OfferFilters.test.tsx
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
  frontend/src/components/dashboard/monitored-websites/filterValidation.ts
  shargain/offers/application/queries/get_target.py
  shargain/offers/tests/application/queries/test_get_target.py
Due: ruff-format, ruff, mypy-check

fix: hasChanges false positive after save due to key ordering in JSON.stringify
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
Due: none

fix: eliminate blink where save button stays enabled after mutation completes but before refetch
  frontend/src/components/dashboard/monitored-websites/OfferFilters.tsx
Due: none

chore: Add install-deps target to justfile
  justfile
Due: none

chore: Update multidict to 6.7.1
  uv.lock
Due: none

docs: add observability spec artifacts (metrics-endpoint + distributed-tracing)
  .opencode
  openspec/changes/improving-the-observability/.openspec.yaml
  openspec/changes/improving-the-observability/design.md
  openspec/changes/improving-the-observability/proposal.md
  openspec/changes/improving-the-observability/specs/distributed-tracing/spec.md
  openspec/changes/improving-the-observability/specs/metrics-endpoint/spec.md
  openspec/changes/improving-the-observability/tasks.md
  openspec/config.yaml
Due: none

feat: add metrics and tracing infrastructure
  AGENTS.md
  gunicorn.conf.py
  pyproject.toml
  shargain/settings/base.py
  shargain/settings/tests.py
  shargain/urls.py
  uv.lock
Due: ruff-format, ruff, mypy-check

feat: add development docker compose with observability stack
  compose.yml
  deployment/dev/prometheus.yml
  deployment/docker/monitoring.yml
  docker-compose.yml
Due: none

feat: instrument batch create service with OTel spans
  shargain/offers/services/batch_create.py
  shargain/offers/tests/conftest.py
  shargain/offers/tests/test_observability.py
Due: ruff-format, ruff, mypy-check

feat: add OpenTelemetry env vars to production compose
  deployment/docker/compose.yml
Due: none

refactor: set OTel defaults in gunicorn.conf.py instead of compose files
  compose.yml
  deployment/docker/compose.yml
  gunicorn.conf.py
Due: ruff-format, ruff, mypy-check

fix: copy gunicorn.conf.py into production Docker image
  Dockerfile
Due: none

Clean up compose files
  compose.dev.yml
  deployment/docker/compose.yml
Due: none

cleanup openspec
  openspec/changes/improving-the-observability/design.md
  openspec/changes/improving-the-observability/specs/distributed-tracing/spec.md
  openspec/changes/improving-the-observability/specs/metrics-endpoint/spec.md
  openspec/config.yaml
Due: none

Remove symlink
  AGENTS.md
Due: none

Cleanup files
  .opencode
  deployment/docker/monitoring.yml
  shargain/offers/tests/test_observability.py
Due: ruff-format, ruff, mypy-check

Restore AGENTS.md
  AGENTS.md
Due: none

rename compose file
  compose.yaml
Due: none

Add django view name to the otel trace
  gunicorn.conf.py
Due: ruff-format, ruff, mypy-check
